<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict/>
	</array>
    <key>CFBundleName</key>
    <string>Clipfusion</string>
	<key>UIAppFonts</key>
	<array>
		<string>Unlock-Regular.ttf</string>
		<string>Urbanist-Bold.ttf</string>
		<string>Urbanist-Medium.ttf</string>
		<string>Urbanist-Regular.ttf</string>
		<string>Poppins-Black.ttf</string>
		<string>Roboto-Regular.ttf</string>
	</array>
</dict>
</plist>
